*{
    /* Tilføj ´*{´ */
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
} /*kanter på elementer til visualisere design*/

html {
    /*background-color: #FF6B35;*/
    background-color: lightgray;
    font-family: 'Montserrat', Times New Roman, serif;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 1080px;
    width: 900px;
    overflow: clip;
}


.background-image-2 {
    position: absolute;
    left: 0;
    height: 500px;
    width: auto;
    z-index: 0;
}

.hero {
    position: relative;
    background: transparent;

}

.hero * {
    background: transparent;
}

h1 {
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0;


}
h2 {
    font-size: 3rem;
    text-align: center;
    /*text-transform: uppercase;*/
    margin: 0 1rem 1rem 1rem;
    font-weight: 100;
    padding-top: 0;

}

h3 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

}



.front-page-paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.front-page-paragraphs h2 {
    padding-bottom: 0;
}

.paragraph {

    width: 50rem;
    gap: 4rem;
    padding: 1rem 2rem;
}


.links-for-team-and-donut {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    padding: 5rem 5rem;
}

.links-for-team-and-donut a:link {
    text-decoration: none;
    color: black;
}

.links-for-team-and-donut a:visited {
    text-decoration: none;
}

.links-for-team-and-donut a:hover {
    text-decoration: none;
    color: #961E1E;
}

.links-for-team-and-donut a:active {
    text-decoration: underline;

}





/*<editor-fold desc="text and charts">*/


#chart1-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart1 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart1 p { line-height: 1.6; margin: 0 0 12px; }


#chart2-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart2 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart2 p { line-height: 1.6; margin: 0 0 12px; }


#chart3-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart3 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart3 p { line-height: 1.6; margin: 0 0 12px; }


#chart4-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

/* Tekstkolonne */
.text-chart4 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart4 p { line-height: 1.6; margin: 0 0 12px; }

#myChart4 {

}


/*   ------------ Donut Chart ------------- */

#donut-header {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 20px;
}

#myDonutChart {
    max-height: 800px;
}

.text-donut-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

/*</editor-fold>*/



