*{
    /* Tilføj ´*{´ */
    outline-style: dotted;
    outline-color: red;
    outline-offset: -1px;
} /*kanter på elementer til visualisere design*/

* {
    /*background-color: #FF6B35;*/
    background-color: #DEC3BE;
    font-family: 'Montserrat', Times New Roman, serif;
}

.background-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 1080px;
    width: 900px;
    overflow: clip;
}


.background-image-2 {
    position: absolute;
    left: 0;
    height: 500px;
    width: auto;
    z-index: 0;
}

.hero {
    position: relative;
    background: transparent;

}

.hero * {
    background: transparent;
}

h1 {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 100px;

}
h2 {
    font-size: 3rem;
    text-align: center;
    /*text-transform: uppercase;*/
    margin: 100px;

}

.front-page-paragraphs {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}

.paragraph {
    height: 400px;
    width: 400px;
}

.chart1 {
    position: relative;
    height: 100vh;
}





/*<editor-fold desc="text and charts">*/


#chart1-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart1 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart1 p { line-height: 1.6; margin: 0 0 12px; }


#chart2-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart2 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart2 p { line-height: 1.6; margin: 0 0 12px; }


#chart3-and-text {
    max-width: 1200px;
    margin: 60px auto;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: start;
}

/* Tekstkolonne */
.text-chart3 h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    font-weight: 800;
    margin: 0 0 12px;
}
.text-chart3 p { line-height: 1.6; margin: 0 0 12px; }




/*</editor-fold>*/



